.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    padding: 20px;
    margin-bottom: 10%;

    background: rgba(212, 212, 212, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );   
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* background-color: #232323; */
    /* border-radius: 18px; */
}

.card:hover{
    transform: scale(1.06);
    transition: 0.3s;
}

.card>img{

    padding: 10px;
    border: 10px dotted;
    width: 250px;
    height: 349px;
}

.card>h3{
    margin: 10px;
    /* font-style: oblique; */
    font-family: pixeloidB;
    font-weight: lighter;
    text-shadow:  2px 2px 3px var(--purple);
}