.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    width: 99%;
    height: 150px;
    margin-top: 0px;
    /* margin: 50px; */
    /* left: 72px; */
    /* top: 32px; */

    background: rgba(15, 7, 49, 0.43);
    /* background: rgba(15, 7, 49, 0.03); */
    border-radius: 30px;
}

.conteiner>nav{
    background-color: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-family: pixeloidB;
}

.link{
    text-decoration: none;
    text-shadow:  2px 2px 3px var(--purple);
}
.link:hover{
    color: #fFFF;
    text-shadow:  2px 2px 3px var(--secondary);
    transform: scale(1.2);
    transition: 0.3s;
}
.logo{
    width: 17%;
    margin: 0%;
    /* background-color: #0000; */
    /* width: 35%; */
    /* height: 100%; */
    border-radius: 30px;
}