.form{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 250px;
    font-family: pixeloid;
    text-shadow:  2px 2px 3px var(--purple);
}

input{
    width: 350px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.formText{
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: space-between;
}


.imgPreview{
    width: 350px;
    height: 450px;

    border-radius: 5px;
    border: 10px solid var(--darkSecond);
}

.form>form>label{
    width: 350px;

    /* display: flex;
    flex-direction: column;

    margin: 20px; */
}

.krl{
    height: 100px;
    color: black;
}

.normal{
    height: 40px;
    color: black;
}

.botoes{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botoes>button{
    width: 251px;
    height: 50px;
}